.header-content {
  background-color: #eeeeee;
  height: 400px;
  padding: 3rem 0 0 10rem;
}
.workshop-heading {
  font-size: 4rem;
}
#react-link {
  text-decoration: none;
  color: #3276b1;
}
.learn {
  background-color: #3276b1;
}
